.garrafas__sobreGarrafa {

    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.sobreGarrafa__cardInformativoProducao {

    position: relative;
    top: 1%;
    display: flex;
    flex-direction: column;
    text-align: start;

    background: var(--corSecundaria-03);
    border: 0.1rem solid var(--corSecundaria-garafa-titulo-01);
    border-radius: 10px;
    color: black;
    font-size: 15px;

    padding: 15px;
    width: 200px;
    height: 110px;
    gap: 20px;
    z-index: 10;
    border: 0.01rem solid var(--corSecundaria-03);
    
}

.cardInformativoProducao__ilustração {

    width: 30px;
    position: absolute;
    top: -45%;
    left: 45%;
    
}

.cardInformativoProducao__titulo {

    margin: 30px 0px 0px 0px;

}

.cardInformativoProducao__miniCardProducao {

   width: 200px;
   height: 30px;
   background: var(--corPrincipal-03);

   backdrop-filter: blur(10px); 
   -webkit-backdrop-filter: blur(10px); 
   border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px 15px 25px 15px;
    border: 0.01rem solid var(--corSecundaria-03);
  
}

.miniCardProducao__texto {

    background: var(--corPrincipal-02);
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 13px;
    margin: 5px 0px 0px 0px;
    
}

.container {

    position: relative;
    width: 200px; /* Largura da linha horizontal */
    height: 200px; /* Altura da linha vertical */

}

.container__02 {

    position: relative;
    width: 20px; /* Largura da linha horizontal */
    height: 200px; /* Altura da linha vertical */

}
.vertical-line, .horizontal-line {

    position: absolute;
    background: linear-gradient(to bottom, white, gray, white);

}
.vertical-line {

    width: 2px; /* Largura da linha vertical */
    height: 80%; /* Altura da linha vertical */
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, white, gray, white);

}
.horizontal-line {

    width: 287%; /* Largura da linha horizontal */
    height: 2px; /* Altura da linha horizontal */
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    background: gray ;

}

.sobreGarrafa__linha {

    width: 600px; /* largura da seta */
    height: 1px; /* altura da seta */
    background: linear-gradient(to right, transparent, #cccccc 25%, white 50%, #cccccc 75%, transparent); 
    margin: 15px auto;

}

.sobreEmpresa__cardInformativo {

    display: flex;


}






