.apresentacao__menssagemProvocativa {

    margin: 0px 0px 150px 0px;
    font-family: 'TituloApresentacao', sans-serif;
    color: var(--corSecundaria-garafa-destaque-01);
    font-size: 2em;

}

.apresentacao__garrafas {

    display: flex;
   

}

.garrafas__imagem {

    width: 325px;
    margin: 0px 250px 0px 293px;
    

}