.apresentacao__menssagemProvocativa {

    margin: 0px 0px 150px 0px;
    font-family: 'TituloApresentacao', sans-serif;
    color: var(--corSecundaria-garafa-destaque-01);
    font-size: 1.5em;
    width: 110px;

}

.apresentacao__garrafas {

    display: flex;
   
}
