.lateral__botoes {

    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    
}

.corpo__alternar {

    position: fixed;
    right: 2%;
    top: 43%;

}

.alternar__seta {

    width: 50px;
    transition: transform 0.3s ease;

}

.corpo__alternar-selecao {

    display: none;

}

#alternar-esconder:checked ~ .alternar__seta {

    transform: rotate(-180deg); 

}

#alternar-esconder:not(:checked) ~ .alternar__seta {

    transform: rotate(360deg);

}

#alternar-esconder:checked ~ .botoes__corpo,
#alternar-esconder:checked ~ .botoes__garrafa {

    display: none;

}

.corpo__linha {

    position: absolute;
    height: 105px;
    width: 1px;
    background: white;
  

    right: 934px;
    top: 118px;

}

.corpo__linha__02 {

    position: absolute;
    height: 105px;
    width: 1px;
    background: white;
  

    right: 934px;
    top: 310px;

}

.corpo__linha__03 {

    position: absolute;
    height: 105px;
    width: 1px;
    background: white;
  

    right: 934px;
    top: 510px;

}

.botoes__corpo {

    position: relative;
    right: 450px;
    background: var(--corGradiente-05);
    background: var(--corPrincipal-02);
   
    width: 450px;
    border-radius: 15px 0 0 15px; 
    height: 55px;
    top: 37px;
    
}

.corpo__ativo {

    border-top: 0.10rem solid var(--corSecundaria-garafa-destaque-01);
    border-left: none;
    border-bottom: 0.10rem solid var(--corSecundaria-garafa-destaque-01);
    border-right: none;

}

.botoes__garrafa {

    position: relative;
    right: 490px;
    top: -60px;
    width: 500px;
    overflow: hidden;
    background: none;
    border: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
   
}


.corpo__titulo {

    text-align: center;
    margin: 20px 0px 0px 0px;
    font-family: 'TituloApresentacao', sans-serif;
    font-size: 22px;
    color: var(--corSecundaria-garafa-destaque-01);

}

.garrafa__espaço {

  
    background: var(--corPrincipal-02);
    border: 0.03rem solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex; 
    align-items: center; 
    justify-content: center; 

}


.garrafa__espaço:hover {

    border: 0.03rem solid var(--corSecundaria-garafa-destaque-01);

}

.garrafa__icone {

    width: 75%; 
    height: 75%; 
    object-fit: contain; 

}