.indexRodape {

    bottom: 0%;
    margin:  100px auto 0px auto;
    width: 110%;
    position: relative;
    bottom: 0%;
    right: 5%;
    
}

.rodapeAutor__texto {

    position: fixed;
    bottom: 0%;
   font-size: 30px;
   padding: 50px 0px 25px 0px;
   text-align: center;
   background: black;
   width: 100%;

}