.PaginaInteira {

    display: grid;
    grid-template-columns: 1fr 0px;

}

.pagina {

    display: flex;
    flex-direction: column;

}


@media (min-width: 1800px ) { 

    .PaginaInteira {

        display: grid;
        grid-template-columns: 1fr 150px;
    
    }

}
