.acoes__navegacao {

    display: flex;
    align-items: center;

}

.navegacao__menu {

    display: flex;
    color: white;
    background: var(--corPrincipal-03);
    border-top-left-radius: 75px; 
    border-top-right-radius: 75px; 
    border-bottom-left-radius: 75px; 
    border-bottom-right-radius: 75px; 
    margin: 0px 10px 0px 0px;

}

.menu__intens {

    width: 100px;
    text-align: center;
    padding: 19px 15px;
    font-family: var( --fontePrincipal);

}

.ativo {

    color: black;
    background: white;
    border-top-left-radius: 75px; 
    border-top-right-radius: 75px; 
    border-bottom-left-radius: 75px; 
    border-bottom-right-radius: 75px; 

}


.menu__intens:hover {

    color: black;
    background: white;
    border-top-left-radius: 75px; 
    border-top-right-radius: 75px; 
    border-bottom-left-radius: 75px; 
    border-bottom-right-radius: 75px; 
    
}

.navegacao__carrinho {

    display: flex;
    align-items: center;
    gap: 15px;
    background: var(--corSecundaria-02);
    border-top-left-radius: 75px; 
    border-top-right-radius: 75px; 
    border-bottom-left-radius: 75px; 
    border-bottom-right-radius: 75px; 
    width: 100px;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-family: var(--fontePrincipal);
    padding: 15px 10px;

}

.carrinho__imagem {

    width: 23px; 
    height: 23px; 

}

.navegacao__carrinho:hover {

    background: var(--corSecundaria-01);
    color: black;
    
}

.navegacao__carrinho:hover .carrinho__imagem {

    display: none;
    
}

.navegacao__carrinho:hover .carrinho__imagem.esconder {

    display: inline;

}

.navegacao__caixa__de__pesquisa {

    margin: 10px 0px 0px 0px;
    background: transparent;
    border-radius: 10px;
    border: 0.03rem solid white;

}

.caixa__de__pesquisa__caixa {

    background: transparent;
    border: none;
    padding: 15px 100px;
    text-align: start;

}

.caixa__de__pesquisa__caixa:focus {

    color: white;
    outline: none;
    
}

.caixa__de__pesquisa__caixa::placeholder {

    color: white;
    font-family: var(--fontePrincipal);
    font-size: 15px;
    
}

.caixa__de__pesquisa__imagem {

    position: relative;
    top: 10px;
    right: 20px;
    width: 25px;
    height: 25px;
    transform: rotate(90deg);

}
